@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    
    font-family: 'poppins', sans-serif;
}
body{
    overflow-x: hidden;
    line-height: 2;
}

 .title-font {
      font-family: 'Cinzel Decorative', serif;
    }
    .desc-font {
      font-family: 'Marcellus', serif;
    }

.menu-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem; /* move it to the right */
  z-index: 1001;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}


/* Osun */
    /*About*/
    .image{

    animation: float 4s ease-in-out infinite;
}
@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
   
